@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-aks78k');
	src:url('fonts/icomoon.eot?#iefix-aks78k') format('embedded-opentype'),
		url('fonts/icomoon.woff?-aks78k') format('woff'),
		url('fonts/icomoon.ttf?-aks78k') format('truetype'),
		url('fonts/icomoon.svg?-aks78k#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-disc-entry:before {
	content: "\f0e5";
}

.icon-disc:before {
	content: "\f0e6";
}

.icon-entity:before {
	content: "\f219";
}

.icon-tag:before {
	content: "\e617";
}

.icon-add-file:before {
	content: "\e613";
}

.icon-edit:before {
	content: "\e614";
}

.icon-question-mark:before {
	content: "\e612";
}

.icon-folder:before {
	content: "\e611";
}

.icon-user-add:before {
	content: "\e605";
}

.icon-user:before {
	content: "\e604";
}

.icon-file-code:before {
	content: "\e607";
}

.icon-file-movie:before {
	content: "\e608";
}

.icon-file-audio:before {
	content: "\e609";
}

.icon-file-archive:before {
	content: "\e60a";
}

.icon-file-image:before {
	content: "\e60b";
}

.icon-file-powerpoint:before {
	content: "\e60c";
}

.icon-file-excel:before {
	content: "\e60d";
}

.icon-file-word:before {
	content: "\e60e";
}

.icon-file-pdf:before {
	content: "\e60f";
}

.icon-file-text:before {
	content: "\e610";
}

.icon-file-filled:before {
	content: "\e603";
}

.icon-file:before {
	content: "\e606";
}

.icon-add-circle:before {
	content: "\e602";
}

.icon-circle:before {
	content: "\e601";
}

.icon-user-in-circle:before {
	content: "\e600";
}

.icon-add-link:before {
	content: "\e615";
}

.icon-add-collection:before {
	content: "\e616";
}

.icon-btn {
	line-height: 1;
}
