<div>

<div class="share-entity-header modal-header">
	<button type="button" class="share-entity-close-button close"
		ng-click="close()" style="margin-top: 5px;" aria-hidden="true">&times;</button>

	<span class="share-entity-type-icon glyphicon glyphicon-user"></span> <span
		class="share-entity-modal-title modal-title">New Group</span>

	<div class="clearfix"></div>
</div>


<div class="container" style="width: 100%">
	<div class="row clearfix" style="padding: 10px;">
		<div class="col-md-4 column" style="height: 100%;">
			<div id="upload_pic"
				style="position: relative; width: 100%; height: 100%;">
				<div
					style="border-style: solid; border-width: 2px; border-color: #e7e7e7; position: relative; line-height: 120px; width: 200px; margin-left: auto; margin-right: auto">
					<img style="max-width: 100%; opacity: 0.5; position: relative;"
						src="images/group_pic_dummy.jpg" />
				</div>
				<div style="text-align: center; padding-top: 2%">
					<a style="cursor: pointer" ng-click="uploadPic()"> + Upload
						group picture</a>
				</div>
			</div>
		</div>
		<div class="col-md-8 column" style="height: 100%">
			<div style="width: 100%; height: 25%;">
				<label style="display: block">
					<p>Group name</p>
				</label> <input ng-model="group.name" style="width: 50%;" " />
			</div>
			<div style="width: 100%; height: 75%; margin-top: 20px">
				<label style="display: block">
					<p>Group description</p>
				</label>
				<textarea style="resize: none; width: 100%; height: 70%"
					ng-model="group.desc"></textarea>
			</div>
		</div>
	</div>
	<div class="row clearfix"
		style="padding: 10px; height: 200px; border-style: solid; border-width: 2px; border-color: #e7e7e7;">
		<div class="col-md-12 column">

			<tabset> 
				<tab style="cursor: pointer;" heading="Members"
					ui-sref-active="active">
					<div id="group-member-container" style="padding-top: 20px;">
						<div style="" ng-show="!ajaxLoading" id="upload-box-small"
							class="kb-fluid-container pull-left" ng-click="addMembers()"
							tooltip-placement="right">
							add
							<div id="upload-link-small" class="glyphicon glyphicon-plus-sign"></div>
						</div>
						<ng-entity-small
							ng-repeat="entry in groupMembers | filter:userFilter"
							ng-show="entry.isSelected">
						</ng-entity-small>
					</div>
				</tab> 
				<tab style="cursor: pointer;" heading="Entities">
					<div id="group-entities-container" style="padding-top: 20px;">
							<div style="" ng-show="!ajaxLoading" id="upload-box-small"
								class="kb-fluid-container pull-left" ng-click="addEntities()"
								tooltip-placement="right">
								add
								<div id="upload-link-small" class="glyphicon glyphicon-plus-sign"></div>
							</div>
							<ng-entity-small
								ng-repeat="entry in entities"
								ng-show="entry.isSelected">
							</ng-entity-small>
						</div>
				</tab> 
			</tabset>
		</div>
	</div>
	<div class="row clearfix" style="padding: 5px;">
		<div class="col-md-6 column"></div>
		<div class="col-md-6 column">
			<div class="btn-group" style="float: right">
				<button class="btn btn-default" type="button"
					ng-click="createGroup()">Create</button>
			</div>
		</div>
	</div>
</div>

</div>