<tr ng-class="{'list-item-selected' : entry.isSelected}">
    <td>
        <div ng-switch="entry.type">
            <div class="list-entitity-clickable" ng-click="handleEntryClick(entry); $event.stopPropagation();">
                <img ng-switch-when="group" src="images/group_pic_dummy.jpg" class="collection-entry-profile-pic"/>
                <img ng-switch-when="priv" src="images/group_pic_dummy.jpg" class="collection-entry-profile-pic"/>
                <div ng-switch-when="coll" class="list-entity-icon icon-folder">
                </div>
                <div ng-switch-when="uploadedFile" class="list-entity-icon" ng-class="entry.iconClass()">
                </div>
                <div ng-switch-when="entity" class="list-entity-icon glyphicon glyphicon-link">
                </div>
                <div ng-switch-when="qa" class="list-entity-icon icon-question-mark">
                </div>
                <div ng-switch-default class="list-entity-icon glyphicon glyphicon-link">
                </div>
            </div>
        </div>
    </td>
    <td>
        <div class="col-md-12">
            <span class="list-entitity-clickable" ng-click="handleEntryClick(entry); $event.stopPropagation();">{{entry.label ? entry.label : entry.id}}
            </span>
        </div>
        <div class="col-md-12" ng-show="entry.tags">
            <!--<div class="qa-tag" ng-repeat="tag in entry.tags"><a ng-click="selectTag(tag); $event.stopPropagation();">{{tag}}</a>
            </div>-->
        </div>
    </td>
    <td>
        {{entry.getFormattedCreationTime()}}
    </td>
    <td>
        <a ng-href="#/social/{{entry.author.id}}">
        {{entry.author.label}}
        </a>
    </td>
</tr>