<div ng-show="!ajaxLoading"
	class="collection-entry-small kb-fluid-container pull-left"
	ng-click="handleEntryClick(entry)">
	<div class="collection-entry-small-preview-box">
		<div class="collection-entry-small-checkbox-wrapper">
			<input class="collection-entry-small-checkbox" type="checkbox" ng-checked="entry.isSelected"
				ng-click="selectResource(entry);$event.stopPropagation()" />
		</div>
		
		<div ng-switch="!entry.entityType">
			<img ng-switch-when="true" src="images/small_profile_pic_dummy.png" height="40px" styles="height:30px"/>
			<div ng-switch-when="false" style="position: relative; z-index: 9;"
			id="collection-entry-small-preview-box-glyphicon" class="glyphicon "
			ng-class="{'glyphicon-folder-close': (entry.entityType == entityTypes.collection), 'glyphicon-file': (entry.entityType == entityTypes.file), 'glyphicon-link' : (entry.entityType == entityTypes.link)}">
			</div>
		</div>
		
		<div class="collection-entry-small-shared"
			ng-show="(entry.entityType == entityTypes.collection) && entry.space == spaceEnum.shared" >{{t('shared')}}</div>
	</div>
	<div class="collection-entry-small-description-box">
		<div  model="entry.label">{{entry.label}}</div>
	</div>
</div>