<div ng-show="!ajaxLoading" class="collection-entry kb-fluid-container pull-left" ng-click="handleEntryClick(entity)"> 
      <div class="collection-entry-preview-box">
        <div class="collection-entry-checkbox-wrapper"><input class="collection-entry-checkbox" type="checkbox" ng-click="selectResource(entry);$event.stopPropagation()"/></div>
        <div style=" position:relative; z-index: 9;" id="collection-entry-preview-box-glyphicon" class="glyphicon " ng-class="{'glyphicon-folder-close': (entry.entityType == entityTypes.collection), 'glyphicon-file': (entry.entityType == entityTypes.file), 'glyphicon-link' : (entry.entityType == entityTypes.link)}"></div>  
        <div ng-show="(entry.entityType == entityTypes.collection) && entry.space == spaceEnum.shared " style="position:relative; top:-20px; right:-8px; font-size:11px; color:#ffffff; z-index: 99;">{{t('shared')}}</div>
      </div>
      <div class="collection-entry-description-box">
        <div shortenentryname  model="entry.label">{{entry.label}}</div>
      </div>
    </div>