<div class="container" ui-view>
    <div class="row clearfix">
        <div class="col-md-11 column">
            <h1>My Circles</h1>
        </div>
        <div class="col-md-1 column">
            <div id="add-circle-icon" class="icon-add-circle highlight" ng-click="addCircle()"></div>
        </div>
    </div>

    <div>
        <div ng-repeat="circle in circles"
            ng-show="!ajaxLoading"
            class="circle-preview-container highlight"
            ng-click="handleEntryClick(circle)">
            <div class="circle-preview-profile-container">
                <div class="icon-circle circle-preview-pic"></div>
                <div class="circle-preview-title">{{circle.label}}</div>
                <div class="circle-preview-entities-count">
                    <span class="icon-user"></span> {{circle.users.length}}&nbsp;&nbsp;&nbsp;<span class="icon-file"></span> {{circle.entities.length}}
                </div>
            </div>
        </div>
    </div>
</div>