<div id="resources-toolbar">
    <div class="row">
        <div class="col-md-2">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="tags-dropdown" data-toggle="dropdown" aria-expanded="true"><div class="tag-circle" ng-show="selectedTag != null"></div>
                {{selectedTag != null ? selectedTag : 'All tags'}}
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="tagsDropdownMenu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="selectTag(null)">All tags</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" ng-repeat="tag in availableTags"><a role="menuitem" tabindex="-1" ng-click="selectTag(tag)"><div class="tag-circle"></div> {{tag}}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input id="circle-resources-search-field" type="search" class="form-control" placeholder="search" ng-model="searchResourcesString">
                <span id="searchclear" class="glyphicon glyphicon-remove-circle" ng-click="searchResourcesString = ''" ng-show="searchResourcesString.length > 0"></span>
                <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-class="{active : isGridViewMode == true}" ng-click="isGridViewMode = true; isListViewMode = false;">
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" ng-class="{active : isListViewMode == true}" ng-click="isGridViewMode = false; isListViewMode = true;">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Add <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="addEntity()">Upload</a></li>
                    <li><a ng-click="chooseEntity()">Dropbox</a></li>
                    <li><a ng-click="addLink()">Link</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div ng-repeat="entity in entities | orderBy: predicate : reverse | filter : filterFunction" class="dropdown position-fixed" id="menu-{{ $index }}" style="z-index:10;">
    <ul class="dropdown-menu" role="menu">
        <li ng-hide="entity.type != 'file'">
            <a class="pointer" role="menuitem" tabindex="1"
            ng-click="downloadEntity(entity)">
            Download
            </a>
        </li>
        <li>
            <a class="pointer" role="menuitem" tabindex="3"
            ng-click="addEntityToHomeCollection(entity)">
            Add to Dropbox
            </a>
        </li>
        <li>
            <a class="pointer" role="menuitem" tabindex="2"
            ng-click="removeEntities([entity])">
            Delete
            </a>
        </li>
    </ul>
</div>
<div click-anywhere-but-here="deselectAllEntities()">
    <!-- sort bar -->
    <div class="well" style="padding : 1px;">
       <div style="height:40px; overflow:hidden;">
        <div class="sort-order-bar animate-show row" style="margin-left : 10px;" ng-show="selectedEntities.length == 0">
            <div class="col-md-1 col-xs-2">
                <a ng-class="{'sort-order-filter-active' : predicate == 'fileType'}" ng-click="reverse = predicate != 'fileType' ? false : !reverse; predicate = 'fileType';">Type<span ng-show="predicate == 'fileType'">{{reverse ? '&#9650;' : '&#9660;'}}</span></a>
            </div>
            <div class="col-md-7 col-xs-10">
                <a ng-class="{'sort-order-filter-active' : predicate == 'label'}" ng-click="reverse = predicate != 'label' ? false : !reverse; predicate = 'label';">Title <span ng-show="predicate == 'label'">{{reverse ? '&#9650;' : '&#9660;'}}</span></a>
            </div>
            <div class="col-md-2 hidden-xs">
                <a ng-class="{'sort-order-filter-active' : predicate == 'creationTime'}" ng-click=" reverse = predicate != 'creationTime' ? false : !reverse; predicate = 'creationTime';">Date <span ng-show="predicate == 'creationTime'">{{reverse ? '&#9650;' : '&#9660;'}}</span></a>
            </div>
            <div class="col-md-2 hidden-xs">
                <a ng-class="{'sort-order-filter-active' : predicate == 'author.label'}" ng-click=" reverse = predicate != 'author.label' ? false : !reverse; predicate = 'author.label';">Author <span ng-show="predicate == 'author.label'">{{reverse ? '&#9650;' : '&#9660;'}}</span></a>
            </div>
        </div>
        <div class="animate-show row" ng-hide="selectedEntities.length == 0" style="line-height:40px;">
            <div class="col-md-12">
                <a ng-repeat="action in actions" ng-click="clickedAction($index)" style="float:left; display:table; margin-left: 15px;"><span class="action-button" ng-class="action.cssClass"></span>&nbsp;{{action.title}}</a>
            </div>
        </div>
    </div> 
    </div>
    
    <!-- grid or list-->
    <div ng-show="isGridViewMode">
        <ng-entity ng-repeat="entry in entities | orderBy: predicate : reverse | filter : filterFunction"  context-menu data-target="menu-{{ $index }}"></ng-entity>
    </div>
    <div ng-show="isListViewMode">
        <table class="table vertical-aligned-table">
            <tbody>
                <tr ng-repeat="entry in entities | orderBy: predicate : reverse | filter : filterFunction"  ng-click="selectResource(entry)" context-menu data-target="menu-{{ $index }}" ng-class="{'list-item-selected' : entry.isSelected}">
                    <td>
                        <div ng-switch="entry.type">
                            <div class="list-entitity-clickable" ng-click="handleEntryClick(entry); $event.stopPropagation();">
                                <img ng-switch-when="group" src="images/group_pic_dummy.jpg" class="collection-entry-profile-pic"/>
                                <img ng-switch-when="priv" src="images/group_pic_dummy.jpg" class="collection-entry-profile-pic"/>
                                <div ng-switch-when="coll" class="list-entity-icon icon-folder">
                                </div>
                                <div ng-switch-when="file" class="list-entity-icon" ng-class="{'icon-file' : entry.fileType == null, 'icon-file-image' : entry.fileType == 'image', 'icon-file-pdf' : entry.mimeType == 'application/pdf', 'icon-file-audio' : entry.fileType == 'audio'}">
                                </div>
                                <div ng-switch-when="entity" class="list-entity-icon glyphicon glyphicon-link">
                                </div>
                                <div ng-switch-when="qa" class="list-entity-icon icon-question-mark">
                                </div>
                                <div ng-switch-default class="list-entity-icon glyphicon glyphicon-link">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-12">
                            <span class="list-entitity-clickable" ng-click="handleEntryClick(entry); $event.stopPropagation();">{{entry.label.length != 0 ? entry.label : entry.id}}
                            </span>
                        </div>
                        <div class="col-md-12" ng-show="entry.tags.length > 0">
                            <div class="qa-tag" ng-repeat="tag in entry.tags"><a ng-click="selectTag(tag); $event.stopPropagation();">{{tag}}</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        {{entry.getFormattedCreationTime()}}
                    </td>
                    <td>
                        {{entry.author.label}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>