<div id="path">
    <span class="glyphicon ajax-loader-white" ng-show="ajaxLoading"></span>
    <a href="" ng-click="loadRootCollection()" class="breadcrumbs-inactive" ng-show="!ajaxLoading">
    <span class="glyphicon glyphicon-home glyphicon-home-kb"></span>
    </a>
    <span ng-repeat="entry in currentCollection.collHierarchy" ng-show="!ajaxLoading && !$first" on-Finish-Ng-Repeat-Load>
    <span class="glyphicon path-glyph-chevron glyphicon-chevron-right"></span>&nbsp;
    <a href="" ng-click="handleEntryClick(entry)" class="breadcrumbs-inactive">
    <span class="glyphicon glyphicon-folder-close"></span>
    <span class="breadcrumb-parent-folders">&nbsp;{{entry.label}}</span>
    </a>
    </span>
    <span ng-show="!ajaxLoading && !currentCollection.isRoot && currentCollection != null">
    <span class="glyphicon path-glyph-chevron glyphicon-chevron-right"></span>&nbsp;
    <span class="breadcrumbs-active">
    <span class="glyphicon glyphicon-folder-open"></span>
    <span>&nbsp;{{currentCollection.label}}</span>
    </span>
    </span>
</div>
<div id="resources-toolbar">
    <div class="row">
        <div class="col-md-2">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="tags-dropdown" data-toggle="dropdown" aria-expanded="true"><div class="tag-circle" ng-show="selectedTag != null"></div>
                {{selectedTag != null ? selectedTag : 'All tags'}}
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="tagsDropdownMenu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="selectTag(null)">All tags</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" ng-repeat="tag in availableTags"><a role="menuitem" tabindex="-1" ng-click="selectTag(tag)"><div class="tag-circle"></div> {{tag}}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input id="circle-resources-search-field" type="search" class="form-control" placeholder="search" ng-model="searchResourcesString">
                <span id="searchclear" class="glyphicon glyphicon-remove-circle" ng-click="searchResourcesString = ''" ng-show="searchResourcesString.length > 0"></span>
                <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-class="{active : collectionViewMode == 'grid'}" ng-click="setCollectionViewMode('grid')">
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" ng-class="{active : collectionViewMode == 'list'}" ng-click="setCollectionViewMode('list')">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Add <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="addEntity()">Upload</a></li>
                    <li><a ng-click="chooseEntity()">Dropbox</a></li>
                    <li><a ng-click="addLink()">Link</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div ng-repeat="entity in entities | orderBy: predicate : reverse | filter : filterFunction" class="dropdown position-fixed" id="menu-{{ $index }}" style="z-index:10;">
    <ul class="dropdown-menu" role="menu">
        <li ng-hide="entity.type != 'file'">
            <a class="pointer" role="menuitem" tabindex="1"
            ng-click="downloadEntity(entity)">
            Download
            </a>
        </li>
        <li>
            <a class="pointer" role="menuitem" tabindex="3"
            ng-click="addEntityToHomeCollection(entity)">
            Add to Dropbox
            </a>
        </li>
        <li>
            <a class="pointer" role="menuitem" tabindex="2"
            ng-click="removeEntities([entity])">
            Delete
            </a>
        </li>
    </ul>
</div>
<div click-anywhere-but-here="deselectAllEntities()">
    <!-- sort bar -->
    <div class="well" style="padding : 1px; background-color: #f6f6f6;">
        <div style="height:40px; overflow:hidden;">
            <div class="sort-order-bar animate-show row" style="margin-left : 10px;" ng-show="selectedEntities.length == 0">
                <div class="col-md-1 col-xs-2">
                    <a ng-class="{'sort-order-filter-active' : predicate == 'fileType'}" ng-click="reverse = predicate != 'fileType' ? false : !reverse; predicate = 'fileType';">Type<span ng-show="predicate == 'fileType'">{{reverse ? '&#9650;' : '&#9660;'}}</span></a>
                </div>
                <div class="col-md-7 col-xs-10">
                    <a ng-class="{'sort-order-filter-active' : predicate == 'label'}" ng-click="reverse = predicate != 'label' ? false : !reverse; predicate = 'label';">Title <span ng-show="predicate == 'label'">{{reverse ? '&#9650;' : '&#9660;'}}</span></a>
                </div>
                <div class="col-md-2 hidden-xs">
                    <a ng-class="{'sort-order-filter-active' : predicate == 'creationTime'}" ng-click=" reverse = predicate != 'creationTime' ? false : !reverse; predicate = 'creationTime';">Date <span ng-show="predicate == 'creationTime'">{{reverse ? '&#9650;' : '&#9660;'}}</span></a>
                </div>
                <div class="col-md-2 hidden-xs">
                    <a ng-class="{'sort-order-filter-active' : predicate == 'author.label'}" ng-click=" reverse = predicate != 'author.label' ? false : !reverse; predicate = 'author.label';">Author <span ng-show="predicate == 'author.label'">{{reverse ? '&#9650;' : '&#9660;'}}</span></a>
                </div>
            </div>
            <div class="animate-show row" ng-hide="selectedEntities.length == 0" style="line-height:40px;">
                <div class="col-md-12">
                    <a ng-repeat="action in actions" ng-click="clickedAction($index)" style="float:left; display:table; margin-left: 15px;"><span class="action-button" ng-class="action.cssClass"></span>&nbsp;{{action.title}}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- grid or list-->
    <div ng-show="collectionViewMode == 'grid'" style="overflow: hidden; padding: 0px 10px 18px 10px;">
        <kb-add-entity destination='circle' after-add-link="afterAddLink" after-choose-entity="afterChooseEntity" after-add-entity='afterAddEntity'></kb-add-entity>
        <ng-entity ng-repeat="entry in entities | orderBy: predicate : reverse | filter : filterFunction" context-menu data-target="menu-{{ $index }}"></ng-entity>
    </div>
    <div ng-show="collectionViewMode == 'list'" style="overflow: hidden; padding: 0px 10px 0px 10px;">
        <table class="table vertical-aligned-table" style="margin-bottom:0px; color:#444;">
            <tbody>
                <tr ng-entity-list-item ng-repeat="entry in entities | orderBy: predicate : reverse | filter : filterFunction"  ng-click="selectResource(entry)" context-menu data-target="menu-{{ $index }}" >
                </tr>
            </tbody>
        </table>
    </div>
</div>