<div class="row clearfix"
	style="background-color: #F8F8F8; padding: 15px;">
	<div class="col-md-12 column">
		<div class="row clearfix">
			<textarea style="resize: none; height: 70%;"
				ng-model="groupDescription" placeholder="What are you doing?"></textarea>
		</div>
		
		<div class="row clearfix" style="background-color: #F8F8F8;">
		<div class="btn-group">
		   <a href="" title="Mark user" style="color: #777; padding: 20px"><span
					class="glyphicon glyphicon-user"></span></a> <a href=""
					title="Attach ressource" style="color: #777; padding: 20px"><span
					class="glyphicon glyphicon-plus-sign"></span></a>
		</div>
			
		</div>
<!-- 		<div class="row clearfix" style="background-color: #F8F8F8;"> -->
<!-- 			<tags-input style="border-style:none;" ng-model="postTags"></tags-input> -->
<!-- 		</div> -->
	</div>
</div>