<div class="card">
    <div class="card-heading image">
        <a ng-href="#/social/{{activity.users[0].id}}">
            <img src="http://lorempixel.com/46/46/" alt=""/>
            <div class="card-heading-header">
                <h3>{{activity.users[0].label}}</h3>
                <span>{{activity.date}} {{activity.time}}</span>
            </div>
        </a>
    </div>
    <div class="card-body">
        <p>
        <span ng-switch="activity.type">
        <span ng-switch-when="rateEntity">
        <span>Resource was rated </span>
        </span>
        <span ng-switch-when="removeCollEntry">
        <span>Resource was removed</span>
        </span>
        <!-- addCollEntry -->
        <span ng-switch-when="addCollEntry">
        <span ng-switch="activity.entities.length > 2">
        <span ng-switch-when="true">Resources were added</span>
        <span ng-switch-when="false">Resource was added</span>
        </span>
        </span>
        <!-- addEntitiesToCircle -->
        <span ng-switch-when="addEntitiesToCircle">
        <span ng-switch="activity.entities.length > 2">
        <span ng-switch-when="true">Resources were added</span>
        <span ng-switch-when="false">Resource was added</span>
        </span>
        </span>
        <!-- removeDisc -->
        </span>
        </p>
    </div>
    <div class="card-media" ng-show="activity.entities.length > 0">
        <table class="table vertical-aligned-table" style="table-layout: fixed;">
            <tbody>
                <tr ng-repeat="entry in activity.entities">
                    <div class="row">
                        <td style="width:40px;">
                            <div ng-switch="entry.type">
                                <div class="list-entitity-clickable" ng-click="handleEntryClick(entry); $event.stopPropagation();">
                                    <img ng-switch-when="group" src="images/group_pic_dummy.jpg" class="collection-entry-profile-pic"/>
                                    <img ng-switch-when="priv" src="images/group_pic_dummy.jpg" class="collection-entry-profile-pic"/>
                                    <div ng-switch-when="coll" class="list-entity-icon icon-folder">
                                    </div>
                                    <div ng-switch-when="file" class="list-entity-icon" ng-class="entry.iconClass()">
                                    </div>
                                    <div ng-switch-when="entity" class="list-entity-icon glyphicon glyphicon-link">
                                    </div>
                                    <div ng-switch-when="qa" class="list-entity-icon icon-question-mark">
                                    </div>
                                    <div ng-switch-default class="list-entity-icon glyphicon glyphicon-link">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="display: block;">
                            <div class="col-md-12" style="text-overflow:ellipsis; overflow:hidden;">
                                <span class="list-entitity-clickable" ng-click="handleEntryClick(entry); $event.stopPropagation();">{{entry.label ? entry.label : entry.id}}
                                </span>
                            </div>
                            <div class="col-md-12" ng-show="entry.tags.length > 0">
                                <div class="qa-tag" ng-repeat="tag in entry.tags"><a ng-click="selectTag(tag); $event.stopPropagation();">{{tag.label}}</a>
                                </div>
                            </div>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>