<div class="card">
    <div class="card-heading image">
        <a ng-href="#/social/{{activity.users[0].id}}">
            <img ng-src="{{activity.users[0].thumb != undefined ? activity.users[0].thumb.file.downloadLink : 'images/circles/user.svg'}}" alt=""/>
            <div class="card-heading-header">
                <h3>{{activity.users[0].label}}</h3>
                <span>{{activity.date}} {{activity.time}}</span>
            </div>
        </a>
    </div>
    <div class="card-body">
        <p>
        <span ng-switch="activity.type">

        <!-- friendAdd -->
        <span ng-switch-when="friendAdd">
        <span>Friend was added</span>
        </span>

        <!-- addCategory -->
        <span ng-switch-when="addCategory">
        <span>Category was added</span>
        </span>

        <!-- addCategory -->
        <span ng-switch-when="addCategory">
        <span>Category was added</span>
        </span>

        <!-- removeCategories -->
        <span ng-switch-when="removeCategories">
        <span>Categories were removed</span>
        </span>

        <!-- tagEntity -->
        <span ng-switch-when="tagEntity">
        <span>Entity was tagged</span>
        </span>

        <!-- removeTags -->
        <span ng-switch-when="tagEntity">
        <span>Entity was tagged</span>
        </span>

        <!-- rateEntity -->
        <span ng-switch-when="rateEntity">
        <span>Resource was rated </span>
        </span>

        <!-- removeCollEntry -->
        <span ng-switch-when="removeCollEntry">
        <span>Resource was removed</span>
        </span>

        <!-- addCollEntry -->
        <span ng-switch-when="addCollEntry">
        <span ng-switch="activity.entities.length > 2">
        <span ng-switch-when="true">Resources were added</span>
        <span ng-switch-when="false">Resource was added</span>
        </span>
        </span>

        <!-- createCircle -->
        <span ng-switch-when="createCircle">
        <span>Circle was created</span>
        </span>

        <!-- addUsersToCircle -->
        <span ng-switch-when="addUsersToCircle">
        <span>Users were added to circle</span>
        </span>

        <!-- addEntitiesToCircle -->
        <span ng-switch-when="addEntitiesToCircle">
        <span ng-switch="activity.entities.length > 2">
        <span ng-switch-when="true">Resources were added</span>
        <span ng-switch-when="false">Resource was added</span>
        </span>
        </span>

        <!-- setEntityPublic -->
        <span ng-switch-when="setEntityPublic">
        <span>Resource was set public</span>
        </span>

        <!-- copyEntityForUsers -->
        <span ng-switch-when="copyEntityForUsers">
        <span>Resource was copied for users</span>
        </span>

        <!-- shareEntityWithUsers -->
        <span ng-switch-when="shareEntityWithUsers">
        <span>Resource was shared with users</span>
        </span>

        <!-- shareEntityWithCircles -->
        <span ng-switch-when="shareEntityWithCircles">
        <span>Resource was shared with circles</span>
        </span>

        <!-- discussEntity -->
        <span ng-switch-when="discussEntity">
        <span>Entity was discusssed</span>
        </span>

        <!-- addDiscEntry -->
        <span ng-switch-when="addDiscEntry">
        <span>Entity was discusssed</span>
        </span>
        <!-- removeDisc -->
        </span>
        </p>
    </div>
    <div class="card-media" ng-show="activity.entities.length > 0">
        <table class="table vertical-aligned-table" style="table-layout: fixed;">
            <tbody>
                <tr ng-repeat="entry in activity.entities">
                    <div class="row">
                        <td style="width:40px;">
                            <div ng-switch="entry.type">
                                <div class="list-entitity-clickable" ng-click="handleEntryClick(entry); $event.stopPropagation();">
                                    <img ng-switch-when="group" src="images/group_pic_dummy.jpg" class="collection-entry-profile-pic"/>
                                    <img ng-switch-when="priv" src="images/group_pic_dummy.jpg" class="collection-entry-profile-pic"/>
                                    <div ng-switch-when="coll" class="list-entity-icon icon-folder">
                                    </div>
                                    <div ng-switch-when="uploadedFile" class="list-entity-icon" ng-class="entry.iconClass()">
                                    </div>
                                    <div ng-switch-when="entity" class="list-entity-icon icon-entity">
                                    </div>
                                    <div ng-switch-when="qa" class="list-entity-icon icon-question-mark">
                                    </div>
                                    <div ng-switch-when="disc" class="list-entity-icon icon-disc">
                                    </div>
                                    <div ng-switch-when="discEntry" class="list-entity-icon icon-disc-entry">
                                    </div>
                                    <div ng-switch-when="qaEntry" class="list-entity-icon icon-question-mark">
                                    </div>
                                    <div ng-switch-when="circle" class="list-entity-icon icon-circle">
                                    </div>
                                    <div ng-switch-default class="list-entity-icon glyphicon glyphicon-link">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="display: block;">
                            <div class="col-md-12" style="text-overflow:ellipsis; overflow:hidden;">
                                <span class="list-entitity-clickable" ng-click="handleEntryClick(entry); $event.stopPropagation();">{{entry.label ? entry.label : entry.id}}
                                </span>
                            </div>
                            <div class="col-md-12" ng-show="entry.tags">
                                <div class="qa-tag" ng-repeat="tag in entry.tags"><a ng-click="selectTag(tag); $event.stopPropagation();">{{tag.label}}</a>
                                </div>
                            </div>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>