.post {
	background-color: #F8F8F8; 
	padding: 15px; 
	border-radius: 20px
}

.post-comment {
	resize: none; 
	height: 70%;
}

.activity-entry {
	background-color: #F8F8F8;
}

.grey-link {
	color: #777;
}

#center_container {
  align-items:center;
  display:flex;
  min-height:100%;
}

#center {
  background:white;
  margin:0 auto;
  padding:10px;
  text-align:center;
  width:200px;
}