<div class="well" style="padding : 1px;">
    <div style="height:40px; overflow:hidden;">
        <div class="sort-order-bar animate-show row" style="margin-left : 10px;" ng-show="selectedEntities.length == 0">
            <div class="col-md-1 col-xs-2">
                <a ng-class="{'sort-order-filter-active' : predicate == 'fileType'}" ng-click="reverse = predicate != 'fileType' ? false : !reverse; predicate = 'fileType';">Type<span ng-show="predicate == 'fileType'">{{reverse ? '&#9650;' : '&#9660;'}}</span></a>
            </div>
            <div class="col-md-7 col-xs-10">
                <a ng-class="{'sort-order-filter-active' : predicate == 'label'}" ng-click="reverse = predicate != 'label' ? false : !reverse; predicate = 'label';">Title <span ng-show="predicate == 'label'">{{reverse ? '&#9650;' : '&#9660;'}}</span></a>
            </div>
            <div class="col-md-2 hidden-xs">
                <a ng-class="{'sort-order-filter-active' : predicate == 'creationTime'}" ng-click="reverse = predicate != 'creationTime' ? false : !reverse; predicate = 'creationTime';">Date <span ng-show="predicate == 'creationTime'">{{reverse ? '&#9650;' : '&#9660;'}}</span></a>
            </div>
            <div class="col-md-2 hidden-xs">
                <a ng-class="{'sort-order-filter-active' : predicate == 'author.label'}" ng-click=" reverse = predicate != 'author.label' ? false : !reverse; predicate = 'author.label';">Author <span ng-show="predicate == 'author.label'">{{reverse ? '&#9650;' : '&#9660;'}}</span></a>
            </div>
        </div>
        <div class="animate-show row" ng-hide="selectedEntities.length == 0" style="line-height:40px;">
            <div class="col-md-12">
                <a ng-repeat="action in actions" ng-click="clickedAction($index)" style="float:left; display:table; margin-left: 15px;"><span class="action-button" ng-class="action.cssClass"></span>&nbsp;{{action.title}}</a>
            </div>
        </div>
    </div>
</div>